.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    button {
        height: 30px;
        font-size: 10px
    }
}

.icon-action {
    font-size: 15px;
    cursor: pointer;
    margin-right: 5px;
}

p-dropdown.order-dropdown .p-dropdown {
    height: 35px;
}

p-dropdown.order-dropdown .p-dropdown-label  {
    font-size: 9px;
}

p-dropdown.order-dropdown p-dropdownitem {
    font-size: 9px;
}