.page-title {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
    letter-spacing: 2px;
  }
  
  ::ng-deep .p-divider {
    margin: 20px auto;
    border-top: 2px solid var(--focus-ring); 
    width: 100%;
  }
