.category {
    color: var(--primary-400);
}

.description-box {
    min-height: 70px; 
    max-height: 70px; 
    overflow-y: auto;  
    word-wrap: break-word; 
}

.title-container-grid {
    min-height: 70px; 
    max-height: 70px; 
    overflow-y: auto;  
    word-wrap: break-word; 
}

.reviews-container {
    margin: 5px;
}

.position-relative {
    position: relative;
}

.delete-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--red-500);
    transition: color 0.3s ease;
}

.delete-icon:hover {
    color: var(--red-700);
}

::ng-deep .p-confirm-popup .p-confirm-popup-content {
    word-wrap: break-word;
    gap: 3px;
}